
VITE_API_BASE_URL=http://localhost:4000
VITE_N8N_UPLOAD_WEBHOOK=https://codezgod.app.n8n.cloud/webhook/5d0cf283-92d6-4b30-8b7e-a1cb4e9a941a
VITE_REQUEST_TIMEOUT_MS=900000
VITE_UPLOAD_TIMEOUT_MS=900000
VITE_VAPI_PUBLIC_KEY=
VITE_VAPI_ASSISTANT_ID=2ec93a92-2ab2-491f-87de-ee3c32a3a6cc

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
